.pricesPage {
  height: 90vh;
  width: 100vw;
  background: url(../../assets/pixelscott.jpg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#favorite {
  position: relative;
  bottom: 1vh;
  left: 2vw;
}
