.pricesPage {
  min-height: 100vh;
  width: 100vw;
  background: url(../../assets/pixelscott.jpg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

#favorite {
  position: relative;
  bottom: 1vh;
  left: 1.5vw;
}

#loading {
  font-size: 3rem;
}

.prikazCoinovaFlex {
  display: flex;
  gap: 28vw;
}

#links {
  text-decoration: none;
}
