.teamPage {
  height: 100vh;
  width: 100vw;
  background: url(../../assets/pixelscott.jpg);
  background-size: contain;
  display: flex;
}

.teamPagePosition {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 16.5vh;
}
