#backgroundVideo {
  width: 100%;
  margin-top: -50px;
  object-fit: cover;
  z-index: -10;
  position: fixed;
  user-select: none;
  filter: brightness(20%);
}
#getStarted {
  position: relative;
  width: 24vw;
  height: 8vh;
  border-radius: 50px;
  background-color: var(--second);
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  transition: 0.6s;
  background-color: black;
  position: relative;
  top: 20%;
}

#getStarted:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.homepageContent {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#naslov {
  color: var(--main);
  text-align: center;
  padding-top: 6rem;
  font-size: 4rem;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: 900;
  text-align: center;
}

.intro {
  padding-left: 7%;
  background-color: white;
}

.intro1 {
  width: 800px;
  position: absolute;
}

.intro1 h1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 80px 80px 40px 80px;
  color: rgb(45, 50, 59);
}

.intro2 {
  width: 300px;
  margin-left: 100px;
  position: relative;
  left: 700px;
}

.toggle-button {
  margin-left: 90px;
}
.toggle-button :nth-child(1) {
  width: 70px;
  height: 50px;
}

.buy-sell-trade {
  background-color: white;
  width: 100vh;
  margin-top: 100px;
}

.naslov-text {
  width: 500px;
  position: relative;
  left: 720px;
  bottom: 500px;
}

.naslov-text h1 {
  font-size: 2.7rem;
  color: rgb(45, 50, 59);
}

.naslov-text p {
  font-size: 1.3rem;
  line-height: 40px;
  color: rgb(45, 50, 59);
}

.crypto {
  width: 100vh;
  margin-top: -130px;
}

.cryptoApp-text {
  color: rgb(45, 50, 59);
  margin-left: 100px;
  width: 500px;
}

.crypto img {
  background-color: rgb(240, 20, 148);
  border-radius: 60px;
  position: relative;
  left: 700px;
  bottom: 500px;
}

.money-freely {
  width: 500px;
  color: rgb(45, 50, 59);
  margin-left: 750px;
}

.money {
  width: 100vh;
}

.money img {
  margin-top: -300px;
  margin-left: 100px;
}
